body{
  background-color: lightgray;
}

.app {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.task-list {
  margin-top: 20px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
